.meal-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 450px;
  margin-bottom: 24px;
}

hr {
  border: 2px solid #000;
}

.meal-form label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.meal-form input,
.meal-form select,
.meal-form textarea {
  padding: 8px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.form-buttons {
  display: flex;
  gap: 8px;
}

.meal-form button {
  background-color: rgb(80, 80, 80);
  padding: 8px;
  cursor: pointer;
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  transition: background-color 0.3s;
}

.meal-form button:hover {
  background-color: rgb(49, 49, 49);
}

.meals-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5px;
}

.meal-card {
  border: 1px solid #d4d4d4;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ececec;
  border-width: 3px;
}

.edit-btn {
  background-color: #15c03a;
  padding: 8px 12px;
  cursor: pointer;
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  border-radius: 12px;
  margin-right: 8px;
  transition: background-color 0.3s;
}

.edit-btn:hover {
  background-color: #0da121;
}

.delete-btn {
  background-color: #c62828;
  padding: 8px 12px;
  cursor: pointer;
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  border-radius: 12px;
  transition: background-color 0.3s;
}

.delete-btn:hover {
  background-color: #a91f1f;
}

.cancel-btn {
  background-color: #777;
  color: white;
  border: none;
  border-radius: 6px;
}

.cancel-btn:hover {
  background-color: #555;
}

h2 {
  margin-bottom: 16px;
}